body {
    font-family: 'Calabri', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4660af;
    color: #ffffff;
    border: 2px solid #ffffff;
}

header {
    background-color: #9280f3;
    display: flex;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px; 
}

header h1 {
  text-align: left;
}

section#search {
  background-color: #4660af;
  padding: 20px;
float: left;
width: 30%;
}

footer{
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #9280f3;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px; 
}

div#headbutton{
position: right;
}

section#song-list, h2{
  text-align: center;
}

#single-song-view {
    display: none;
    display: flex;
    flex-direction: row; 
    align-items: center; 
  }
  
  #song-details-container {
    margin-bottom: 20px;
  }
  
  
  #closeViewButton {
    margin-top: 20px;
    align-self: flex-end; 
  }
  
  #popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
  }

  #popup.show {
    display: block;
  }
  
 
