body {
    font-family: 'Calabri', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4660af;
    color: #ffffff;
    border: 2px solid #ffffff;
}


header {
    background-color: #9280f3;
    display: flex;
    text-align: center;
    padding: 20px;
}

header h1 {
  text-align: left;
}

.hidden {
  display: none;
}

#single-song-view{
  display: none;
}

section#search {
  background-color: #4660af;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
}

footer{
  display: flex;
  justify-content: space-between;
  background-color: #9280f3;
  text-align: center;
  padding: 20px;
  list-style: none;
}


#credits{
  display:none;
  position: absolute;
  }

  #headbutton{
    position:relative;
  display:inline-block;
  margin-right: 20px;
  margin-left: auto;
  }

.song-table {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

th, td {
  text-align: center;
  padding: 5px;
}


section#song-list, h2{
  text-align: center;
}

#single-song-view {
    display: none;
    display: flex;
    flex-direction: row; 
    align-items: center; 
  }
  
  #song-details-container {
    margin-bottom: 20px;
  }
  
  
  #closeViewButton {
    margin-top: 20px;
    align-self: flex-end; 
  }
  
  #popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
  }

  #popup.show {
    display: block;
  }
  
 
